.DS_Store
.cpcache/
.terraform/
.nrepl-port
pom.xml
pom.xml.asc
/target/
/resources/public/
resources/templates/themes/crokinolecentre/css/style.css
scripts/_downloaded.txt
scripts/terraform/public.zip
resources/youtube-dl