{% extends "/html/base.html" %}
{%block subtitle %}: Archives{% endblock %}
{% block content %}

<article class="post element archives">
    <h2>Archives</h2>
    {% for group in groups %}
        <h3>{{group.group}}</h3>
        <ul>
        {% for post in group.posts %}
        <li class='{% ifequal post.layout "youtube.html" %}video{% else %}post{% endifequal %}'>
            {{post.date|date:"MMM dd"}} - <a href="{{post.uri}}">{{post.title}}</a>
        </li>
        {% endfor %}
        </ul>
    {% endfor %}
</article>

{% endblock %}
