{% extends "/html/base.html" %}
{%block subtitle %}: {{post.title}}{% endblock %}
{% block content %}
<article class="video element">
    <div class="video-wrapper" style="background-image:url({{post.thumbnail}})">
        <iframe width="640" height="360" src="https://www.youtube.com/embed/{{post.id}}" allowfullscreen"></iframe>
    </div>
    {% include "/html/post-content.html" %}
    <div class="prev-next">
        {% if post.next %}
        <a class="prev" href="{{post.next.uri}}" title="{{post.next.title}}">&laquo; Previous</a>
        {% endif %}
        {% if post.prev %}
        <a class="next" href="{{post.prev.uri}}" title="{{post.prev.title}}">Next &raquo;</a>
        {% endif %}
    </div>
</article>
{% endblock %}
